<h2><%= t('manage_users') %></h2>

<%= link_to glyph('plus') + ' ' + t('new_user'), new_user_path, class: "btn btn-success new_button_list" %>

<br/>

<table class="table table-striped">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td>
          <div class="btn-group"> 
            <%= link_to glyph('pencil'), edit_user_path(user), title: t('edit'),
              class: "btn btn-inverse" %>
            <% if user != current_user %>
              <%= link_to glyph('trash'), user_path(user), method: :delete, title: t('delete'),
                data: { confirm: t('confirm_delete_user', user: user.username) },
                class: "btn btn-danger" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to glyph('plus') + ' ' + t('new_user'), new_user_path, class: "btn btn-success new_button_list" %>
