<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
      	<td><%= link_to post.title, post %>
      		<%= link_to glyph('external-link'), post.url, title: post.title %>
      		<br/>
      		<small>(saved by <%= link_to post.user.username, user_posts_path(post.user) %> on <%= post.created_at.getlocal.strftime '%B %-d %Y' %>)</small>
      	</td>
      	<td><%= post.description %></td>
      	<td class="tags"><% post.tag_list.each do |tag|%>
				<%= link_to tag, tag_posts_path(tag), class: "btn btn-info" %>
			<% end %></td>
		<% if user_signed_in? %>
        <td>
        	<% if post.user == current_user %>
        		<div class="btn-group">	
	        		<%= link_to glyph('pencil'), edit_post_path(post), title: 'Edit',
	        			class: "btn btn-inverse" %>
	        		<%= link_to glyph('trash'), post, method: :delete, title: 'Delete',
	        			data: { confirm: 'Are you sure you want to delete "' + post.title + '" ?' },
	        			class: "btn btn-danger" %>
	        	</div>
	        <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>