<h2>Listing posts
<% if @user %>
	by <%= @user %>
<% end %>
<% if @tag %>
	tagged with <%= @tag %>
<% end %>
	<%= link_to glyph('rss'), {format: 'atom'}, class: "btn btn-warning" %>
</h2>

<% if @posts.empty? %>

<div class="alert alert-danger">
	No post were found :(
</div>

<% else %>

<%= render 'list' %>

<%= paginate @posts %>

<% end %>

<% if user_signed_in? %>
	<%= link_to glyph('plus') + ' New Post', new_post_path, class: "btn btn-success" %>
<% end %>