<h2><%= page_entries_info @posts %>
<% if @user %>
	<%= t('by', count: @posts.count) %> <%= @user %>
<% end %>
<% if @tag %>
	<%= t('tagged_with', count: @posts.count, tag: @tag) %>
<% end %>
	<%= link_to glyph('rss'), {format: 'atom'}, class: "btn btn-warning" %>
</h2>

<% if !@posts.empty? %>

<% if user_signed_in? %>
	<%= link_to glyph('plus') + ' ' + t('new_post'), new_post_path, class: "btn btn-success new_post" %>
<% end %>

<%= render 'list' %>

<%= paginate @posts %>

<% end %>

<% if user_signed_in? %>
	<%= link_to glyph('plus') + ' ' + t('new_post'), new_post_path, class: "btn btn-success new_post" %>
<% end %>