<dl class="list-group">
	<dt>URL:</dt>
	<dd><%= link_to @post.url, @post.url %></dd>
	<dt>Title:</dt>
	<dd><%= @post.title %></dd>
	<dt>Description:</dt>
	<dd><%= nl2br(@post.description) %></dd>
	<dt>Tags:</dt>
	<dd><%= @post.tag_list.to_s %></dd>
</dl>

<div class="btn-group">
	<%= link_to glyph("chevron-left"), posts_path, title: 'Back',
			class: "btn btn-primary" %>
	
	<% if user_signed_in? and @post.user == current_user %>
		<%= link_to glyph('pencil'), edit_post_path(@post), title: 'Edit',
				class: "btn btn-inverse" %>
		<%= link_to glyph('trash'), @post, method: :delete, title: 'Delete',
    			data: { confirm: 'Are you sure you want to delete "' + @post.title + '" ?' },
    			class: "btn btn-danger" %>
	<% end %>
</div>