<!DOCTYPE html>
<html>
<head>
  <title>Memor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/logo.png" />
  <% if params['controller'] == 'posts' and params['action'] == 'index' %>
  	<%= auto_discovery_link_tag(:atom, {format: 'atom'}) %>
  <% end %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= nav_bar :responsive => true,
			:brand => image_tag('logo.png', :size => '30x30', :alt => 'Memor') + 'Memor' do %>
		
		<%= menu_group :pull => :right do %>
			<% if user_signed_in? %>
				<%= menu_item 'Bookmarklet', "javascript:(function(){
						x=document;a=encodeURIComponent(x.location.href);
						t=encodeURIComponent(x.title);
						d=encodeURIComponent(window.getSelection());
						open('"+new_post_path(:only_path => false)+"%3Furl='+a+'%26title='+t+'%26description='+d,'Memor','modal=1,status=0,scrollbars=1,toolbar=0,resizable=1,width=790,height=585,left='+(screen.width-790)/2+',top='+(screen.height-545)/2);
						})();"
				%>
				<%= menu_item 'Import', import_path %>
		  		<%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>        
			<% else %>
		  		<%= menu_item 'Login', new_user_session_path %>
			<% end %>
		<% end %>
			
	<% end %>

	<div class="container">
	
		<%= bootstrap_flash %>
	
		<%= yield %>
	</div>

</body>
</html>
