<!DOCTYPE html>
<html>
<head>
  <title>Memor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/logo.png" />
  <% if params['controller'] == 'posts' and params['action'] == 'index' %>
  	<%= auto_discovery_link_tag(:atom, {format: 'atom'}) %>
  <% end %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= nav_bar :responsive => true,
			:brand => image_tag('logo.png', :size => '30x30', :alt => 'Memor') + 'Memor' do %>
		
		<%= menu_group :pull => :right do %>
			<% if user_signed_in? %>
		  		<%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>        
			<% else %>
		  		<%= menu_item 'Login', new_user_session_path %>
			<% end %>
		<% end %>
			
	<% end %>

	<div class="container">
	
		<%= bootstrap_flash %>
	
		<%= yield %>
	</div>

</body>
</html>
